<style></style>
<script src="https://unpkg.com/jquery@3.2.1"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>


<div class="b-data__bg" style="background-image: url('https://www.irozhlas.cz/sites/default/files/uploader/jablka_170622-002347_zlo.jpg');"><span class="b-data__caption">Foto <a href='https://commons.wikimedia.org/wiki/Apples#/media/File:Assorted_Red_and_Green_Apples_2120px.jpg'>Wikimedia Commons/NaJina McEnany (CC BY-SA 2.5)</a></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Vejce a jablka dražší i o třetinu. Podívejte se, jak se mění ceny základních potravin</strong><br>
		<small></small>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Michal Zlatkovský</a>
	<span class="meta__separator">|</span>
	<time>22. června 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">
<div class="row-main row-main--narrow">

<p>Ceny dvanácti potravin ve spotřebním koši se v posledních dvou letech změnily až o desítky procent. Kromě másla podražila i jablka nebo vejce, zatímco třeba kuřecí maso oproti roku 2015 zlevnilo. Vyplývá to z přehledu běžných - tedy neakčních - cen potravin poskytovaných nákupními řetězci.</p>
<p>Za kolísajícími cenami stojí zejména u ovoce a zeleniny sezónní trendy i změny na světovém trhu. V posledních týdnech se v Česku mluvilo zejména o podražení másla způsobeném snížením jeho celosvětové produkce. Drahým máslem <a href="https://zpravy.aktualne.cz/finance/nakupovani/maslo-stoji-o-deset-korun-vice-nez-pred-rokem-drahe-zustane/r~0aff68ca503911e7898e002590604f2e/">se zabývá</a> i ministerstvo zemědělství.</p>
<p></div><div class="row-main row-main--article"><div id="graf_ovozel"></div></div><div class="row-main row-main--narrow"></p>
<p>Až na výjimky se ceny drží v poměrně stabilní hladině. Dlouhodobě zlevnilo například kuřecí maso - kilogram kuřete se do září 2015 držel na ceně kolem 85 korun, na konci předloňského roku však jeho cena klesla a dodnes se drží pod 75 korunami.</p>
<p></div><div class="row-main row-main--article"><div id="graf_maso"></div></div><div class="row-main row-main--narrow"></p>
<p>Balení deseti vajec se mezi lety 2015 a 2016 drželo pod 29 korunami, loni v listopadu však opět překročilo třicetikorunovou hranici a dnes se drží kolem 33 korun. Jednou z nejspolehlivějších komodit oproti tomu zůstává Plzeňský prazdroj, jehož půllitrová láhev se za poslední dva roky příliš nevychýlila od ceny 25 korun.</p>
<p></div><div class="row-main row-main--article"><div id="graf_ostatni"></div></div><div class="row-main row-main--narrow"></p>
<p>Data získal server iRozhlas.cz od databáze letáků <a href="https://www.kupi.cz/">Kupi</a>. Liší se od <a href="https://www.czso.cz/csu/czso/setreni-prumernych-cen-vybranych-vyrobku-potravinarske-vyrobky-casove-rady">pravidelných šetření</a> Českého statistického úřadu, který na základě vzorku vybraných prodejen vypočítává takzvaný index spotřebitelských cen. Letáky oproti tomu poskytují především větší obchody a řetězce, proto se průměry cen mírně liší, navíc se do nic nezapočítává zboží v akci. Trendy ale oba zdroje dat ukazují shodné.</p>
<p>Kromě průměrů běžných cen základních potravin se můžete podívat i na částky z akčních letáků. Jednotlivé potraviny vybírejte stisknutím jejich názvů pod grafem.</p>
<p></div><div class="row-main row-main--article"><div id="graf_akce"></div></div><div class="row-main row-main--narrow"></p>

</div>
</div><script>Highcharts.setOptions({lang:{decimalPoint:",",}});Highcharts.chart('graf_ovozel',{chart:{type:'spline',},colors:['#ffd700','#90ed7d','#f95252','#f7a35c'],title:{text:'Průměrné běžné ceny potravin'},subtitle:{text:'Ovoce a zelenina'},credits:{text:'Data: Kupi.cz',href:'https://www.kupi.cz/'},xAxis:{categories:['leden 15','únor 15','březen 15','duben 15','květen 15','červen 15','červenec 15','srpen 15','září 15','říjen 15','listopad 15','prosinec 15','leden 16','únor 16','březen 16','duben 16','květen 16','červen 16','červenec 16','srpen 16','září 16','říjen 16','listopad 16','prosinec 16','leden 17','únor 17','březen 17','duben 17','květen 17']},yAxis:{title:{text:'cena (Kč)'}},plotOptions:{series:{connectNulls:true}},tooltip:{pointFormat:'<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} Kč</b><br/>'},series:[{name:'banány 1 kg',data:[31.90,33.61,35.50,36.57,35.70,33.34,31.90,31.10,30.33,30.59,30.09,29.65,29.90,33.61,34.65,34.90,33.54,31.90,30.68,30.54,31.00,30.90,30.83,30.28,31.33,30.40,32.47,33.15,33.80]},{name:'jablka Jonagold 1 kg',data:[29.90,30.90,28.23,28.40,29.15,29.90,32.15,32.40,29.90,null,32.40,30.73,29.90,30.65,30.53,31.30,30.70,29.90,28.65,29.90,31.40,30.40,27.40,27.40,27.90,27.77,27.40,24.90,32.90],},{name:'mrkev 1 kg',data:[15.15,17.90,16.90,18.90,29.90,31.90,23.90,22.07,21.65,20.65,21.50,21.40,22.50,20.15,20.90,24.90,26.57,19.90,20.40,18.40,17.10,14.90,14.23,14.15,15.70,14.90,15.57,19.90,19.15],},{name:'pomeranče 1 kg',data:[29.06,28.76,29.65,30.19,30.90,null,null,39.90,39.40,40.07,34.28,31.27,29.72,30.43,29.09,27.61,26.57,29.90,39.90,39.90,38.23,34.90,34.96,30.95,29.84,30.71,31.90,32.40,34.90]}]});Highcharts.chart('graf_maso',{chart:{type:'spline'},title:{text:'Průměrné běžné ceny potravin'},subtitle:{text:'Maso'},credits:{text:'Data: Kupi.cz',href:'https://www.kupi.cz/'},xAxis:{categories:['leden 15','únor 15','březen 15','duben 15','květen 15','červen 15','červenec 15','srpen 15','září 15','říjen 15','listopad 15','prosinec 15','leden 16','únor 16','březen 16','duben 16','květen 16','červen 16','červenec 16','srpen 16','září 16','říjen 16','listopad 16','prosinec 16','leden 17','únor 17','březen 17','duben 17','květen 17']},yAxis:{title:{text:'cena (Kč)'}},plotOptions:{series:{connectNulls:true}},tooltip:{pointFormat:'<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} Kč</b><br/>'},series:[{name:'vepřová plec bez kosti 1 kg',data:[110.61,117.36,122.75,101.95,119.40,119.95,117.45,116.58,114.97,119.90,117.90,117.40,118.23,112.66,117.40,118.23,112.66,117.40,118.77,119.20,119.10,118.90,120.73,119.68,117.18,119.60,122.72,122.18,127.17]},{name:'kuře celé 1 kg',data:[80.70,80.90,79.90,81.60,84.90,84.90,83.23,84.90,84.90,72.40,73.47,59.90,70.90,69.28,78.01,74.90,72.40,77.76,73.79,68.65,74.90,70.53,68.65,74.90,69.34,69.34,59.90,70.54,73.24],}]});Highcharts.chart('graf_ostatni',{chart:{type:'spline'},colors:['#766336','#ffd700','#ddad3a','#f7a35c','#f95252','#6acce8'],title:{text:'Průměrné běžné ceny potravin'},subtitle:{text:'Ostatní'},credits:{text:'Data: Kupi.cz',href:'https://www.kupi.cz/'},xAxis:{categories:['leden 15','únor 15','březen 15','duben 15','květen 15','červen 15','červenec 15','srpen 15','září 15','říjen 15','listopad 15','prosinec 15','leden 16','únor 16','březen 16','duben 16','květen 16','červen 16','červenec 16','srpen 16','září 16','říjen 16','listopad 16','prosinec 16','leden 17','únor 17','březen 17','duben 17','květen 17']},yAxis:{title:{text:'cena (Kč)'}},plotOptions:{series:{connectNulls:true}},tooltip:{pointFormat:'<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} Kč</b><br/>'},series:[{name:'chléb Šumava 600 g',data:[13.90,null,null,16.20,18.50,null,13.90,16.20,13.90,null,13.90,13.90,13.90,null,13.90,13.90,13.90,13.90,13.90,null,13.90,13.90,12.97,13.90,13.90,13.90,13.90,13.90,13.90],visible:false},{name:'máslo 250 g',data:[30.19,29.90,34.90,34.90,34.90,28.90,28.90,28.90,26.25,26.58,28.90,27.40,29.15,27.40,26.90,26.90,23.90,24.40,24.90,null,null,null,null,37.90,null,null,39.90,39.90,34.90],},{name:'paštika naše Májka 150 g',data:[null,null,null,null,null,21.90,21.90,null,21.90,21.90,null,20.90,20.90,20.90,20.90,20.90,20.90,18.90,18.90,18.90,18.90,18.90,18.90,18.90,19.90,18.90,null,18.90,18.90],visible:false},{name:'pivo Pilsner Urquell 500 ml',data:[25.15,24.17,24.35,24.79,25.62,24.75,25.07,25.23,24.68,24.91,25.34,24.94,24.07,23.95,24.39,24.19,24.91,24.45,24.69,24.52,24.15,25.40,24.82,25.29,25.87,24.39,25.17,25.00,25.90]},{name:'sýr Eidam 30% 100 g',data:[14.50,14.04,13.90,12.90,12.90,12.90,12.90,12.90,12.90,12.23,11.70,10.90,10.23,11.23,10.40,10.90,10.40,9.90,9.96,10.50,10.90,11.16,12.47,13.40,13.65,13.90,13.90,13.90,13.90],visible:false},{name:'vejce čerstvá M 10 ks',data:[32.90,32.90,32.90,32.90,32.90,32.90,28.57,27.33,27.90,27.90,27.90,27.90,27.90,null,27.90,27.15,27.23,26.90,26.90,26.90,26.90,26.90,32.40,34.57,33.57,35.52,36.08,34.90,33.17]}]});Highcharts.chart('graf_akce',{chart:{type:'spline'},title:{text:'Průměrné ceny potravin v akci'},credits:{text:'Data: Kupi.cz',href:'https://www.kupi.cz/'},xAxis:{categories:['leden 15','únor 15','březen 15','duben 15','květen 15','červen 15','červenec 15','srpen 15','září 15','říjen 15','listopad 15','prosinec 15','leden 16','únor 16','březen 16','duben 16','květen 16','červen 16','červenec 16','srpen 16','září 16','říjen 16','listopad 16','prosinec 16','leden 17','únor 17','březen 17','duben 17','květen 17']},yAxis:{title:{text:'cena (Kč)'}},plotOptions:{series:{connectNulls:true}},tooltip:{pointFormat:'<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} Kč</b><br/>'},series:[{name:'banány 1 kg',data:[22.07,23.76,27.01,27.39,26.68,24.08,21.60,20.30,21.50,22.17,21.10,21.30,22.40,26.04,27.05,26.77,25.33,22.68,21.40,19.90,18.26,18.23,21.73,19.76,22.76,23.90,24.65,25.57,26.30],visible:false},{name:'jablka Jonagold 1 kg',data:[15.73,17.30,18.77,18.50,20.90,24.90,23.65,22.90,19.90,null,19.90,19.61,19.57,19.90,19.63,20.23,20.30,19.90,19.90,18.40,24.90,23.90,19.91,18.40,19.26,18.90,21.90,21.90,24.23],visible:false},{name:'mrkev 1 kg',data:[10.90,11.90,13.57,14.90,23.65,24.23,17.09,16.41,14.68,11.80,12.56,13.17,16.50,15.46,15.79,19.37,20.40,15.23,14.90,11.50,11.70,10.57,14.16,10.30,11.30,10.90,12.23,16.23,15.40],visible:false},{name:'pomeranče 1 kg',data:[20.22,19.52,19.89,21.12,22.86,21.74,null,29.90,29.88,28.51,23.87,20.66,19.18,20.03,20.28,21.15,20.90,19.90,34.90,29.90,30.10,29.40,21.75,20.63,21.17,20.44,22.40,23.10,22.90],visible:false},{name:'vepřová plec bez kosti 1 kg',data:[85.09,80.34,86.48,78.95,86.38,80.07,75.56,75.83,86.32,75.71,73.42,67.77,68.48,72.00,70.60,68.00,71.05,80.46,77.40,78.79,83.19,82.63,74.77,78.54,80.49,79.79,77.11,81.91,89.79],visible:false},{name:'kuře celé 1 kg',data:[53.92,51.58,57.15,55.57,53.90,52.65,47.90,47.90,47.40,49.07,48.90,46.90,47.70,46.90,48.70,54.47,47.40,46.90,47.20,48.16,47.79,46.90,48.07,47.41,46.34,46.34,45.90,45.66,46.01],visible:false},{name:'chléb Šumava 600 g',data:[10.90,10.90,null,12.40,13.65,null,10.90,13.40,11.90,null,11.90,11.90,11.90,null,13.40,12.90,11.90,11.40,10.90,null,11.40,10.90,11.70,10.90,10.90,11.90,11.90,11.90,11.90],visible:false},{name:'máslo 250 g',data:[30.19,29.90,34.90,34.90,34.90,28.90,28.90,28.90,26.25,26.58,28.90,27.40,29.15,27.40,26.90,26.90,23.90,24.40,24.90,null,null,null,null,37.90,null,null,39.90,39.90,34.90],},{name:'paštika naše Májka 150 g',data:[null,null,null,null,null,14.90,14.90,null,14.90,13.90,null,14.90,12.90,14.90,14.90,13.90,12.90,14.90,14.90,14.90,11.90,12.90,12.90,14.90,12.90,14.90,12.90,14.90,12.90],visible:false},{name:'pivo Pilsner Urquell 500 ml',data:[17.90,17.90,14.99,14.90,16.90,16.65,17.90,16.65,17.90,16.65,17.50,17.90,16.90,14.90,14.80,15.90,15.80,15.61,17.50,15.90,17.90,17.38,16.90,16.24,17.90,17.90,15.90,15.90,16.90],visible:false},{name:'sýr Eidam 30% 100 g',data:[10.33,10.30,10.28,9.61,10.21,9.77,10.41,9.66,9.33,9.02,8.50,8.73,9.23,8.50,9.10,8.92,7.90,7.80,7.70,9.10,9.20,9.86,8.89,12.55,11.40,11.90,11.15,10.80,11.32],visible:false},{name:'vejce čerstvá M 10 ks',data:[24.61,22.90,25.52,24.40,22.73,22.10,23.20,22.60,24.23,23.57,23.46,25.90,23.65,23.23,23.15,21.02,19.92,19.16,19.70,19.90,18.10,22.30,21.80,24.26,25.70,25.40,27.03,26.31,25.19]}]});</script>
